/*
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
	font-family: "Open Sans", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

article {
	padding: 30px 0;
}

article:first-of-type {
	padding-top: 0;
}

article.job {
	border-bottom: 1px solid #cecece;
}

article::before, article::after {
	content: "";
	display: table;
}

article::before, article::after {
	content: "";
	display: table;
}

article::after {
	clear: both;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body, button, input, select, textarea {
	color: #333333;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	/* margin-bottom: 15px; */
}

h3 {
	font-weight: 300;
	margin: 1.7em 0 0.3em;
	font-size: 18px;
}

@media screen and (max-width: 600px) {
	h3 {
	}
}

h1, h1 a, h1 a:visited, h2, h2 a, h2 a:visited, h4, h4 a, h5, h5 a, h6, h6 a {
	clear: both;
	font-weight: 400;
	color: #333333;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
	text-decoration: underline;
	color: #333333;
}

h1.intro a {
	font-family: "Montserrat", sans-serif;
	font-size: 35px;
	/* line-height: 1; */
	//color: #de2500;
	text-decoration: none;
	transition: all 0.5s ease 0s;
}

h1.intro {
	font-family: "Montserrat", sans-serif;
	font-size: 35px;
}

@media screen and (max-width: 600px) {
	h1.intro {
		font-size: 24px;
		margin: 1em 0 0.5em;
	}
}

.red {
	color: #de2500;
}

@media screen and (max-width: 600px) {
	h1.site-title a {
		font-size: 22px;
	}
}

h1.site-title a:visited {
	color: #de2500;
}

h1.site-title a:hover, h1.site-title a:focus, h1.site-title a:active {
	color: #ff4f24;
}

h2 {
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 22px;
	}
}

p {
	margin: 0 0 1.5em;
	font-size: 14px;
	font-weight: 300;
}

/* @media screen and (max-width: 600px) {
	p {
		line-height: 22px;
		font-weight: 300;
	}
} */

dfn, cite, em, i {
	font-style: italic;
	font-weight: 300;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* @media screen and (max-width: 1000px) {
	br {
		display: none;
	}
} */

.column {
	float: left;
	width: 33%;
	padding: 0 20px;
	margin-bottom: 50px;
}

.column:first-of-type {
	padding-left: 0;
}

.column:last-of-type {
	padding-right: 0;
}

.column.jobs {
	width: 70%;
	padding-right: 40px;
}

.column.post-job {
	width: 30%;
}

@media screen and (max-width: 600px) {
	.column, .column.jobs, .column.post-job {
		float: none;
		width: 100%;
		padding: 0;
	}
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background-color: #ffffff;
}

.container {
	margin: 0 auto;
	max-width: 1290px;
	width: 100%;
}

@media screen and (max-width: 1290px) {
	.container {
		padding: 0 20px;
	}
}

header {
	margin-bottom: 55px;
}

@media screen and (max-width: 600px) {
	header {
		margin-bottom: 0;
	}
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul, li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
	color: #de2500;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	word-wrap: break-word;
}

a:visited {
	color: #de2500;
}

a:hover, a:focus, a:active {
	color: #ff4f24;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

nav {
	float: right;
	padding-top: 20px;
}

@media screen and (max-width: 600px) {
	nav {
		padding-top: 1px;
		float: none;
		clear: both;
	}
	nav a i {
		font-size: 1.8em;
	}
	header {
		padding: 10px 0;
	}
}

nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

nav li {
	float: left;
	position: relative;
	padding: 0 12px;
}

nav li.current_page_item a {
	color: #ffffff;
}

nav li:first-of-type {
	padding-left: 0;
}

nav li:last-of-type {
	padding-right: 0;
}

nav a {
	display: block;
	text-decoration: none;
	color: #de2500;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	transition: all 0.5s ease 0s;
	text-transform: uppercase;
}

nav a:hover {
	color: #888;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, header:before, header:after, .site-content:before, .site-content:after, footer:before, footer:after {
	content: "";
	display: table;
}

.clear:after, .entry-content:after, .comment-content:after, header:after, .site-content:after, footer:after {
	clear: both;
}


.title-company {
	float: left;
	clear: none;
	display: inline;
}

.location-date {
	float: right;
	clear: none;
	display: inline;
}

